/* Style the body element */
body {
    font-family: Trebuchet MS, sans-serif;
    background-color: #3caea3;
    color: #173f5f;
}

/* Style a heading element */
h1 {
    color: #20639b;
}

/* Style paragraphs */
p {
    font-size: 20px;
}
